# PANDAS

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.3.2

In [12]:
#data
data = [10,20,30,40,50,60,70,80,90,100]
s = pd.Series(data, index=['a','b','c','d','e','f','g','h','i','j'])
print(s)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

#Creating DataFrames & Series

In [3]:
# Creating a Series
numbers = pd.Series([10, 20, 30, 40], name="Marks")
print("Series Example:\n", numbers)

# Creating a simple DataFrame
data = {
    "Name": ["Sushil", "Ravi", "Kiran", "Asha"],
    "Age": [22, 25, 23, 21],
    "Score": [85, 90, 78, 88]
}

df = pd.DataFrame(data)
print("\nDataFrame Example:\n", df)

# Display basic info
print("\nShape of DataFrame:", df.shape)
print("\nColumns:", df.columns.tolist())

Series Example:
 0    10
1    20
2    30
3    40
Name: Marks, dtype: int64

DataFrame Example:
      Name  Age  Score
0  Sushil   22     85
1    Ravi   25     90
2   Kiran   23     78
3    Asha   21     88

Shape of DataFrame: (4, 3)

Columns: ['Name', 'Age', 'Score']

#Data Selection & Indexing

In [4]:
# Display first and last few rows
print("First 2 rows:\n", df.head(2))
print("\nLast 2 rows:\n", df.tail(2))

# Accessing columns
print("\nName column:\n", df["Name"])

# Accessing multiple columns
print("\nName and Score columns:\n", df[["Name", "Score"]])

# Selecting by index
print("\nRow by index (iloc):\n", df.iloc[1])

# Selecting by label (loc)
print("\nRow by label (loc):\n", df.loc[2])

First 2 rows:
      Name  Age  Score
0  Sushil   22     85
1    Ravi   25     90

Last 2 rows:
     Name  Age  Score
2  Kiran   23     78
3   Asha   21     88

Name column:
 0    Sushil
1      Ravi
2     Kiran
3      Asha
Name: Name, dtype: object

Name and Score columns:
      Name  Score
0  Sushil     85
1    Ravi     90
2   Kiran     78
3    Asha     88

Row by index (iloc):
 Name     Ravi
Age        25
Score      90
Name: 1, dtype: object

Row by label (loc):
 Name     Kiran
Age         23
Score       78
Name: 2, dtype: object

#Filtering, Sorting, and Updating

In [6]:
# Filter data (Age > 22)
filtered = df[df["Age"] > 22]
print("Filtered (Age > 22):\n", filtered)

# Sort by Score (descending)
sorted_df = df.sort_values(by="Score", ascending=False)
print("\nSorted by Score (desc):\n", sorted_df)

# Update a column
df["Status"] = ["Pass" if x >= 80 else "Fail" for x in df["Score"]]
print("\nDataFrame with new column:\n", df)

Filtered (Age > 22):
     Name  Age  Score
1   Ravi   25     90
2  Kiran   23     78

Sorted by Score (desc):
      Name  Age  Score
1    Ravi   25     90
3    Asha   21     88
0  Sushil   22     85
2   Kiran   23     78

DataFrame with new column:
      Name  Age  Score Status
0  Sushil   22     85   Pass
1    Ravi   25     90   Pass
2   Kiran   23     78   Fail
3    Asha   21     88   Pass

#Handling Missing Data

In [8]:
# Add some NaN values
df.loc[1, "Score"] = None
df.loc[3, "Age"] = None
print("Data with Missing Values:\n", df)

# Check for nulls
print("\nMissing Value Count:\n", df.isnull().sum())

# Fill missing values
df["Score"].fillna(df["Score"].mean(), inplace=True)
df["Age"].fillna(df["Age"].median(), inplace=True)

print("\nAfter Filling Missing Values:\n", df)

Data with Missing Values:
      Name   Age  Score Status
0  Sushil  22.0   85.0   Pass
1    Ravi  25.0    NaN   Pass
2   Kiran  23.0   78.0   Fail
3    Asha   NaN   88.0   Pass

Missing Value Count:
 Name      0
Age       1
Score     1
Status    0
dtype: int64

After Filling Missing Values:
      Name   Age      Score Status
0  Sushil  22.0  85.000000   Pass
1    Ravi  25.0  83.666667   Pass
2   Kiran  23.0  78.000000   Fail
3    Asha  23.0  88.000000   Pass

C:\Users\Jayesh\AppData\Local\Temp\ipykernel_16544\1107317399.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Score"].fillna(df["Score"].mean(), inplace=True)
C:\Users\Jayesh\AppData\Local\Temp\ipykernel_16544\1107317399.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

#Grouping, Aggregation & Statistics

In [9]:
 # Sample dataset for grouping
data2 = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [30000, 35000, 50000, 52000, 45000, 47000]
}
df2 = pd.DataFrame(data2)
print("Department Data:\n", df2)

# Group by department
grouped = df2.groupby("Department")["Salary"].mean()
print("\nAverage Salary by Department:\n", grouped)

# Multiple aggregations
agg_df = df2.groupby("Department").agg({"Salary": ["mean", "min", "max"]})
print("\nAggregated Data:\n", agg_df)

Department Data:
   Department Employee  Salary
0         HR        A   30000
1         HR        B   35000
2         IT        C   50000
3         IT        D   52000
4    Finance        E   45000
5    Finance        F   47000

Average Salary by Department:
 Department
Finance    46000.0
HR         32500.0
IT         51000.0
Name: Salary, dtype: float64

Aggregated Data:
              Salary
               mean    min    max
Department
Finance     46000.0  45000  47000
HR          32500.0  30000  35000
IT          51000.0  50000  52000

#Merging, Joining, and Concatenation

In [10]:
# Two small DataFrames
info1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Sushil", "Ravi", "Asha"]
})
info2 = pd.DataFrame({
    "ID": [1, 2, 4],
    "City": ["Dhule", "Pune", "Nashik"]
})

# Merge by ID
merged = pd.merge(info1, info2, on="ID", how="outer")
print("Merged DataFrame:\n", merged)

# Concatenation
extra = pd.DataFrame({
    "Name": ["Kiran", "Rohan"],
    "City": ["Nagpur", "Surat"]
})
concat_df = pd.concat([merged, extra], ignore_index=True)
print("\nConcatenated DataFrame:\n", concat_df)

Merged DataFrame:
    ID    Name    City
0   1  Sushil   Dhule
1   2    Ravi    Pune
2   3    Asha     NaN
3   4     NaN  Nashik

Concatenated DataFrame:
     ID    Name    City
0  1.0  Sushil   Dhule
1  2.0    Ravi    Pune
2  3.0    Asha     NaN
3  4.0     NaN  Nashik
4  NaN   Kiran  Nagpur
5  NaN   Rohan   Surat

 
#File I/O, Date, and Pivot Tables

In [11]:
# Create new DataFrame
sales = pd.DataFrame({
    "Date": pd.date_range(start="2024-01-01", periods=6, freq="M"),
    "Region": ["North", "South", "East", "West", "North", "South"],
    "Sales": [15000, 18000, 12000, 22000, 19000, 21000]
})
print("Sales Data:\n", sales)

# Export to CSV
sales.to_csv("sales_data.csv", index=False)
print("\nData saved to 'sales_data.csv'")

# Read back
loaded = pd.read_csv("sales_data.csv")
print("\nLoaded Data:\n", loaded.head())

# Pivot Table
pivot = sales.pivot_table(values="Sales", index="Region", aggfunc="mean")
print("\nAverage Sales by Region:\n", pivot)

# Add a new column for month
sales["Month"] = sales["Date"].dt.month_name()
print("\nSales with Month Column:\n", sales)

C:\Users\Jayesh\AppData\Local\Temp\ipykernel_16544\939928810.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "Date": pd.date_range(start="2024-01-01", periods=6, freq="M"),

Sales Data:
         Date Region  Sales
0 2024-01-31  North  15000
1 2024-02-29  South  18000
2 2024-03-31   East  12000
3 2024-04-30   West  22000
4 2024-05-31  North  19000
5 2024-06-30  South  21000

Data saved to 'sales_data.csv'

Loaded Data:
          Date Region  Sales
0  2024-01-31  North  15000
1  2024-02-29  South  18000
2  2024-03-31   East  12000
3  2024-04-30   West  22000
4  2024-05-31  North  19000

Average Sales by Region:
           Sales
Region
East    12000.0
North   17000.0
South   19500.0
West    22000.0

Sales with Month Column:
         Date Region  Sales     Month
0 2024-01-31  North  15000   January
1 2024-02-29  South  18000  February
2 2024-03-31   East  12000     March
3 2024-04-30   West  22000     April
4 2024-05-31  North  19000       May
5 2024-06-30  South  21000      June